* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: sans-serif;
    color: #4D4D4D;
}

@font-face {
    font-family: Elianto;
    src: url(san-marino-beach-font/SanMarinoBeach-2OOLW.ttf);
}

.top-bar {
    background-color: #B46060;
    font-family: sans-serif;
    justify-content: space-between;
    /* text-align:center; */
    padding: .5%;
    /* text-align: center; */
    border-color: black;
    border-bottom: solid;
    border-width: 2px;
    /* display: inline-flex; */
    width: 100%;

}

.heading-link {
    color: #4D4D4D;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: #B46060;

}

.heading-link:hover {
    color: rgb(148, 148, 165);
    /* padding: 0%; */
}

/* button:hover {
    color: black;
} */

#title {
    color: #B46060;
    text-align: center;
    font-weight: bolder;
    font-size: 60pt;
}

.outer-div {
    /* justify-content: center; */
    /* text-align: center; */
    display: flex;
    background-color: #4D4D4D;
    width: 80%;
    animation-name: fade;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    /* text-align: center; */
    margin: auto;
    height: 500px;
}

#left-side {
    width: 20%;
    background-color: #B46060;
}

#right-side {
    width: 80%;
    background-color: aquamarine;
}

#room-number {
    height: 20%;
    background-color: grey;
}

#messages {
    height: 70%;
    background-color: teal;
    overflow: hidden;
}

.chat {
    width: 30%;
    height: auto;
    background-color: aqua;
    margin-left: 4%;
    margin-top: 1%;
    border-radius: 4px;
    padding: 1%;
}

#send-message {
    height: 10%;
    background-color: blanchedalmond;
}

.section {
    background-color: #4D4D4D;
    padding: 2%;
    margin: 1%;
    margin-top: 12%;
    /* display: table-cell; */
    width: 300px;
    height: 300px;
    border: solid;
    border-color: black;
    border-radius: 2%;
}


h1 {
    color: #4D4D4D;
    font-family: sans-serif;
}

@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: #B46060;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #4D4D4D;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}



HTML CSSResult Skip Results Iframe EDIT ON @-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
