@font-face {
    font-family: 'Overpass';
    src: url('overpass-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFB7C3;
    font-family: Overpass;
    color: #4D4D4D;
}


/* @font-face {
    font-family: Elianto;
    src: url(san-marino-beach-font/SanMarinoBeach-2OOLW.ttf);
} */

.top-bar {
    background-color: #004369;
    font-family: Overpass;
    justify-content: space-between;
    /* text-align:center; */
    padding: .5%;
    /* text-align: center; */
    border-color: black;
    /* border-bottom: solid; */
    border-width: 2px;
    /* display: inline-flex; */
    width: 100%;

}

.heading-link {
    color: #4D4D4D;
    text-decoration: none;
    font-family: Overpass;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: #004369;

}

.heading-link:hover {
    color: rgb(148, 148, 165);
    /* padding: 0%; */
}

/* button:hover {
    color: black;
} */

#title {
    color: #01949A;
    text-align: center;
    font-weight: bolder;
    font-size: 60pt;
    font-family: Overpass;
}

.outer-div {
    justify-content: center;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5%;
}




h1 {
    color: #4D4D4D;
    font-family: Overpass;
}

@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    color: white;
    text-decoration: none;
    font-family: Overpass;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: #004369;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #4D4D4D;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}



HTML CSSResult Skip Results Iframe EDIT ON { @-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}}

@-moz-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.outer-div {
    animation-name: fade;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    text-align: center;
}









/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 400px;
    height: 300px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
    margin-bottom: 4%;
    border-radius: 1%;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #004369;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: #004369;
    color: white;
    padding: 7%;
    transform: rotateY(180deg);
    text-align: left;
}

.flip-card-back-text {
    color: #004369;
    background-color: white;
    /* font-weight: bold; */
    font-size: 10pt;
    padding: 2%;
    height: 80%;
}

.flip-card-front-text {
    background-color: #004369;
    color: white;
    padding-top: 3%;
}