@font-face {
    font-family: 'Overpass';
    src: url('overpass-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFB7C3;
    font-family: Overpass;
    color:white;
}

@font-face {
    font-family: Elianto;
    src: url(san-marino-beach-font/SanMarinoBeach-2OOLW.ttf);
}


.top-bar {
    background-color: #004369;
    font-family: Overpass;
    justify-content: space-between;
    /* text-align:center; */
    padding: .5%;
    /* text-align: center; */
    /* border-color: black;
    border-bottom: solid; */
    border-width: 2px;
    /* display: inline-flex; */
    width: 100%;

}

.heading-link {
    color: white;
    text-decoration: none;
    font-family: Overpass;
    font-size: 20px;
    font-weight:bold;
    padding: 5px;
    background-color: #004369;
    
}
.heading-link:hover {
    color: rgb(148,148,165);
    /* padding: 0%; */
}
/* button:hover {
    color: black;
} */


.outer-div {
    justify-content: center;
    text-align:center;
    margin-top: 3%;
    display: float;
}
.profile-pic {
    width: 28%;
    /* height: 100%; */
    /* margin-inline-start: 30%; */
    /* border: solid; */
    border-color:  #ABC4AA;
    border-radius: 5px;
    border-width: 5px;
    float: left;
    margin-left: 5%;
}
/* .left-side {
    float: left;
    width: 25%;
}
.right-side {
    float: right;
    width: 75%;
} */
.title {

    color: white;
    font-family: Overpass;
    /* font-family: futura; */
    font-size: 900%;

}

.lower {
    display:flex;
    /* border: solid;
    border-color: green; */
    padding-left: 8%;
    /* justify-content: center; */
}

.lower-left {
    float: left;
    width: 110%;
    /* border: solid; */
    font-size: 20px;
    /* color:#675D50; */
    font-family: Overpass;
    /* border-color: aqua; */
    /* padding-top: 6%; */
}

.lower-right {
    float: right;
    /* border:solid; */
    border-color: red;
    padding: 10px;
    /* padding-left: 8%; */
    /* padding-top: 6%; */
}

.link-images {
    margin: 3%;
}

.links-text {
    color: white;
    font-family: Overpass;
}


h1 {
    color: white;
    font-family: Overpass;
}

@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pulse:hover,
.hvr-pulse:focus,
.hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    color: white;
    text-decoration: none;
    font-family: Overpass;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: #004369;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}



HTML CSSResult Skip Results Iframe EDIT ON { @-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}}

@-moz-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.outer-div {
    animation-name: fade;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    text-align: center;
}

.resume-image {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0);
    border-radius: 5px;
    width: 60%;
    /* justify-content: center; */
}


button {
    padding: 4px;
    background-color: #675D50;
    color: white;
    border: solid;
    border-radius: 2px;
}